.main-content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 760px;
    margin: 0 auto;

    @media only screen and (max-width: 800px){
        height: auto;
        flex-direction: column;
    }

    &:before {
        content: "";
        display: block;
        position: fixed;
        width: 300%;
        height: 100%;
        top: 50%;
        left: 50%;
        border-radius: 100%;
        transform: translateX(-50%) skewY(-8deg);
        background-color: #44aee0;
        z-index: -1;
        -webkit-animation: wave 8s ease-in-out infinite alternate;
        animation: wave 8s ease-in-out infinite alternate;

        @keyframes wave {
            from {top: 80%;}
            to {top: 50%;}
          }
    }
}